In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DecimalType

spark = SparkSession.builder.appName("tarea2").getOrCreate()

schema = StructType([
    StructField("id", StringType(), True),
    StructField("nombre", StringType(), True),
    StructField("comuna", StringType(), True),
    StructField("total", IntegerType(), True),
    StructField("fecha", StringType(), True),
    StructField("semana", IntegerType(), True),
    StructField("avg", DecimalType(), True),
    StructField("max", DecimalType(), True),
    StructField("min", DecimalType(), True)
])


df = spark.read.csv("urgencias2008_2019.csv", header=False, schema=schema)
count = df.count()
print(count)
df.printSchema()

412139
root
 |-- id: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- comuna: string (nullable = true)
 |-- total: integer (nullable = true)
 |-- fecha: string (nullable = true)
 |-- semana: integer (nullable = true)
 |-- avg: decimal(10,0) (nullable = true)
 |-- max: decimal(10,0) (nullable = true)
 |-- min: decimal(10,0) (nullable = true)

In [21]:
df.registerTempTable("urgencia")
spark.sql("SELECT comuna, SUBSTR(fecha, 7, 4) AS anio, SUM(total) as total FROM urgencia GROUP BY comuna, anio ORDER BY comuna, total").show()

+---------+----+-----+
|   comuna|anio|total|
+---------+----+-----+
|    Alhué|2019|  918|
|    Alhué|2018| 3093|
|     Buin|2019| 8115|
|     Buin|2009|13935|
|     Buin|2018|18490|
|     Buin|2017|20585|
|     Buin|2012|20710|
|     Buin|2011|22148|
|     Buin|2016|26660|
|     Buin|2010|27672|
|     Buin|2015|28855|
|     Buin|2014|31918|
|     Buin|2013|36274|
|Cerrillos|2019| 5222|
|Cerrillos|2008|11237|
|Cerrillos|2009|13646|
|Cerrillos|2018|13877|
|Cerrillos|2017|14158|
|Cerrillos|2011|15737|
|Cerrillos|2010|16563|
+---------+----+-----+
only showing top 20 rows